<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-8">
      <section style="background-color: rgba(8, 80, 146, 0.4); text-align: center; padding: 100px 20px; color: white;">
        <img src="assets/images/fifaLogo1.png" style="max-height: 100px; max-width: 90%; margin: 30px auto;">
        <h1><b>¡Bienvenido!</b></h1>
        <hr style="color: #045694;" class="line-separator">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eveniet quibusdam deserunt,!</p>
      </section>
    </div>
  </div>
</div>
