.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  width: min(95%,400px);
  min-width: 200px;
  max-width: min(95%,450px);
  padding: 40px 20px;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0 .5em 1em -.125em #0a0a0a33,0 0 0 1px #0a0a0a08;
}

.line-separator {
  width: 10%;
  margin: 20px auto;
  height: 3px;
  border: none;
  background-color: #fff;
}

.row {
  &.spacer {
    padding: 5px;
  }
}
