<div class="container" style="padding-top: 30px;">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-8">
      <h1 style="color: #045694;"><b>Bienvenido usuario</b></h1>
    </div>
  </div><br><br>

  <div class="row center-xs">
    <div class="col-xs-12">
      <div>
        <button (click)="registerItem()" matTooltip="Regitro" mat-raised-button style="background: #045694; color: #fff;" aria-label="Agrega un nuevo equipo">
          <mat-icon>add</mat-icon>
          Agregar un nuevo equipo
        </button>
      </div>

    </div>
  </div><br><br>
  <app-table-equipment></app-table-equipment>
</div>
